.DS_Store
Megaman_Classifier_CNN/preview/*
Megaman_Classifier_CNN/test_set/*
Megaman_Classifier_CNN/training_set/*
Megaman_Classifier_CNN/NES Longplay*
Passer-Classifier-CNN/data*
Passer-Classifier-CNN/.ipynb_checkpoints